/*
 * PROJECT:     ReactOS GUI first stage setup application
 * LICENSE:     GPL-2.0-or-later (https://spdx.org/licenses/GPL-2.0-or-later)
 * PURPOSE:     Hungarian resource file
 * TRANSLATORS: Copyright 2005 Robert Horvath <talley@cubeclub.hu>
 *              Copyright 2026 Tibor Lajos Füzi <tibor.fuzi@gmail.com>
 */

LANGUAGE LANG_HUNGARIAN, SUBLANG_DEFAULT

/* Dialogs */

IDD_STARTPAGE DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Üdvözöljük a ReactOS telepítőben", IDC_STARTTITLE, 115, 8, 195, 24
    LTEXT "Ez a varázsló telepíti vagy frissíti a ReactOS-t\n\
a számítógépén, és előkészíti a telepítés második szakaszát.", IDC_STATIC, 115, 40, 195, 27
////
    GROUPBOX " FONTOS INFORMÁCIÓ ", IDC_WARNTEXT1, 115, 70, 200, 90, BS_CENTER
    LTEXT "A ReactOS alpha állapotban van: sok funkció hiányzik \
és erősen fejlesztés alatt áll. Csak kipróbálásra és tesztelésre ajánlott, \
nem a mindennapi használatra. Adatvesztést okozhat vagy tönkreteheti a hardverét.", IDC_WARNTEXT2, 120, 80, 190, 50, SS_CENTER
    LTEXT "Készítsen biztonsági mentést az adatairól, vagy tesztelje \
egy másodlagos számítógépen ha valódi hardveren szeretné futtatni a ReactOS-t.", IDC_WARNTEXT3, 120, 130, 190, 27, SS_CENTER
////
    LTEXT "Kattintson a Tovább gombra a folytatáshoz.", IDC_STATIC, 115, 169, 195, 17
END

IDD_TYPEPAGE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    AUTORADIOBUTTON "ReactOS &telepítése", IDC_INSTALL, 7, 20, 277, 10, WS_GROUP
    AUTORADIOBUTTON "ReactOS &frissítése vagy helyreállítása", IDC_UPDATE, 7, 80, 277, 10
    LTEXT "A ReactOS egy új példányának telepítése. Ez az opció nem tartja meg az Ön fájljait, beállításait és programjait. A lemezeken és partíciókon változtatásokat tud végrehajtani.", IDC_INSTALLTEXT, 19, 36, 279, 27
    LTEXT "Egy meglévő ReactOS telepítés frissítése vagy helyreállítása. Ez az opció megtartja az Ön fájljait, beállításait és programjait. Csak abban az esetben elérhető, ha már telepítve van a ReactOS erre a számítógépre.", IDC_UPDATETEXT, 19, 96, 279, 27
END

IDD_UPDATEREPAIRPAGE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT       "The Setup program can upgrade one of the available ReactOS installations listed below, or, if a ReactOS installation is damaged, the Setup program can attempt to repair it.", IDC_STATIC, 6, 6, 303, 18
    CONTROL     "", IDC_NTOSLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP, 6, 30, 303, 90
    PUSHBUTTON  "&Do not upgrade", IDC_SKIPUPGRADE, 230, 128, 80, 14
    LTEXT       "Click Next to upgrade the selected OS installation, or on 'Do not upgrade' to perform a new installation.", IDC_STATIC, 7, 124, 222, 16
END

IDD_DEVICEPAGE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "&Számítógép:", IDC_STATIC, 20, 15, 80, 10
    COMBOBOX IDC_COMPUTER, 100, 15, 180, 80, WS_VSCROLL | WS_TABSTOP | CBS_DROPDOWNLIST
    LTEXT "&Képernyő:", IDC_STATIC, 20, 35, 80, 10
    COMBOBOX IDC_DISPLAY, 100, 35, 180, 80, WS_VSCROLL | WS_TABSTOP | CBS_DROPDOWNLIST
    LTEXT "&Billentyűzet:", IDC_STATIC, 20, 55, 80, 10
    COMBOBOX IDC_KEYBOARD, 100, 55, 180, 80, WS_VSCROLL | WS_TABSTOP | CBS_DROPDOWNLIST
    LTEXT "Kattintson a Tovább gombra a telepítés helyének megadásához.", IDC_STATIC, 7, 128, 297, 8
END

IDD_DRIVEPAGE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_PARTITION, "SysTreeList32", WS_BORDER | WS_VISIBLE | WS_TABSTOP | LVS_REPORT | LVS_SINGLESEL, 7, 7, 303, 112
    PUSHBUTTON "&Inicializálás", IDC_INITDISK, 7, 122, 50, 14, WS_GROUP // NOTE: At same position as IDC_PARTCREATE
    PUSHBUTTON "&Létrehozás", IDC_PARTCREATE, 7, 122, 50, 14
    PUSHBUTTON "&Formázás", IDC_PARTFORMAT, 7, 122, 50, 14 // NOTE: At same position as IDC_PARTCREATE
    PUSHBUTTON "&Törlés", IDC_PARTDELETE, 63, 122, 50, 14
    PUSHBUTTON "&Driver", IDC_DEVICEDRIVER, 174, 122, 50, 14, WS_DISABLED
    PUSHBUTTON "&Haladó beállítások...", IDC_PARTMOREOPTS, 230, 122, 80, 14
    // LTEXT "Kattintson a Tovább gombra az összefoglaló ellenőrzésére.", IDC_STATIC, 7, 128, 277, 8
END

IDD_PARTITION DIALOGEX 0, 0, 200, 120
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Partíció létrehozása és formázása"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "&Méret:", IDC_STATIC, 7, 9, 70, 9
    EDITTEXT IDC_EDIT_PARTSIZE, 82, 7, 47, 13, ES_RIGHT | ES_NUMBER | WS_GROUP
    CONTROL "", IDC_UPDOWN_PARTSIZE, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT |
            UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_GROUP, 120, 22, 9, 13
    LTEXT "MB", IDC_UNIT, 134, 9, 14, 9
    AUTOCHECKBOX "&Kiterjesztett partíció", IDC_CHECK_MBREXTPART, 7, 22, 180, 14
    LTEXT "&Fájlrendszer:", IDC_FS_STATIC, 7, 46, 70, 9
    COMBOBOX IDC_FSTYPE, 82, 44, 100, 50, CBS_DROPDOWNLIST | WS_TABSTOP
    AUTOCHECKBOX "&Gyorsformázás", IDC_CHECK_QUICKFMT, 7, 59, 180, 14
    PUSHBUTTON "OK", IDOK, 88, 98, 50, 14
    PUSHBUTTON "Mégse", IDCANCEL, 143, 98, 50, 14
END

IDD_FORMAT DIALOGEX 0, 0, 200, 83
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Partíció formázása"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "&Fájlrendszer:", IDC_FS_STATIC, 7, 9, 70, 9
    COMBOBOX IDC_FSTYPE, 82, 7, 100, 50, CBS_DROPDOWNLIST | WS_TABSTOP
    AUTOCHECKBOX "&Gyorsformázás", IDC_CHECK_QUICKFMT, 7, 22, 180, 14
    PUSHBUTTON "OK", IDOK, 88, 61, 50, 14
    PUSHBUTTON "Mégse", IDCANCEL, 143, 61, 50, 14
END

IDD_ADVINSTOPTS DIALOGEX 0, 0, 305, 135
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Haladó telepítő beállítások"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Válassza ki a &mappát, ahová telepíteni szeretné a ReactOS-t:", IDC_STATIC, 7, 9, 291, 10
    EDITTEXT IDC_PATH, 7, 23, 291, 13
    GROUPBOX "Rendszerbetöltő", IDC_STATIC, 7, 45, 291, 60
    LTEXT "Válassza ki a helyet, ahová a FreeLoader\nrendszerbetöltőt telepíteni szeretné.\n\nAlapértelmetten a rendszerinditó lemez rendszer partíciójára kerül (and either in the Master or the Volume Boot Record for BIOS-based computers).", IDC_STATIC, 13, 57, 279, 44
    COMBOBOX IDC_INSTFREELDR, 150, 58, 142, 45, WS_VSCROLL | WS_TABSTOP | CBS_DROPDOWNLIST
    DEFPUSHBUTTON "OK", IDOK, 193, 113, 50, 14
    PUSHBUTTON "Mégse", IDCANCEL, 248, 113, 50, 14
END

IDD_SUMMARYPAGE DIALOGEX 0, 0, 317, 149
STYLE DS_SHELLFONT | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Telepítés típusa:", IDC_STATIC, 18, 5, 74, 11
    EDITTEXT IDC_INSTALLTYPE, 95, 5, 210, 12, ES_READONLY | ES_AUTOHSCROLL | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Telepítés forrása:", IDC_STATIC, 18, 17, 74, 11
    EDITTEXT IDC_INSTALLSOURCE, 95, 17, 210, 12, ES_READONLY | ES_AUTOHSCROLL | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Architektúra:", IDC_STATIC, 18, 29, 74, 11
    EDITTEXT IDC_ARCHITECTURE, 95, 29, 210, 12, ES_READONLY | ES_AUTOHSCROLL | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Számítógép:", IDC_STATIC, 18, 41, 74, 11
    EDITTEXT IDC_COMPUTER, 95, 41, 210, 12, ES_READONLY | ES_AUTOHSCROLL | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Képernyő:", IDC_STATIC, 18, 53, 74, 11
    EDITTEXT IDC_DISPLAY, 95, 53, 210, 12, ES_READONLY | ES_AUTOHSCROLL | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Billentyűzet:", IDC_STATIC, 18, 65, 74, 11
    EDITTEXT IDC_KEYBOARD, 95, 65, 210, 12, ES_READONLY | ES_AUTOHSCROLL | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Cél kötet:", IDC_STATIC, 18, 77, 74, 11
    EDITTEXT IDC_DESTDRIVE, 95, 77, 210, 12, ES_READONLY | ES_AUTOHSCROLL | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Cél mappa:", IDC_STATIC, 18, 89, 74, 11
    EDITTEXT IDC_PATH, 95, 89, 210, 12, ES_READONLY | ES_AUTOHSCROLL | NOT WS_BORDER | NOT WS_TABSTOP
    AUTOCHECKBOX "Megerősítem, hogy az összes telepítési beállítás megfelelő. Tudomásul veszem azt is, hogy\na ReactOS alpha állapotban lévő szoftver és elronthatja a számítógépemet, vagy tönkreteheti az adataimat.",
        IDC_CONFIRM_INSTALL, 7, 104, 309, 24, BS_MULTILINE | WS_GROUP | WS_TABSTOP
    LTEXT "Kérjük erősítse meg, hogy a telepítési beállítások megfelelőek,\nmajd kattintson a Telepítés gombra a folyamat megkezdéséhez.", IDC_STATIC, 7, 130, 303, 18
END

IDD_PROCESSPAGE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Fájlok telepítése...", IDC_ACTIVITY, 20, 35, 277, 10
    LTEXT "test.txt", IDC_ITEM, 20, 83, 277, 10
    CONTROL "", IDC_PROCESSPROGRESS, "msctls_progress32", PBS_SMOOTH | WS_CHILD | WS_VISIBLE | WS_BORDER, 20, 97, 277, 11
END

IDD_FINISHPAGE DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "A számítógépének újraindítása", IDC_FINISHTITLE, 115, 8, 195, 24
    LTEXT "A ReactOS telepítésének első lépése sikeresen befejeződött.", IDC_STATIC, 115, 40, 195, 24
    // The following text can be replaced by IDS_FINISH_NO_REBOOT at runtime;
    // please ensure it can hold in the text control!
    LTEXT "A telepítő most újraindítja a számítógépét hogy folytassa a telepítés második lépésével.\n\nA számítógépe automatikusan újraindul 15 másodperc múlva vagy amikor az Újraindítás gombra kattint.", IDC_FINISHTEXT, 115, 78, 195, 56
    CONTROL "", IDC_RESTART_PROGRESS, "msctls_progress32", PBS_SMOOTH | WS_CHILD | WS_VISIBLE | WS_BORDER, 115, 135, 188, 12
END

IDD_ABORTPAGE DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "A ReactOS telepítő varázsló idő előtt leállt", IDC_FINISHTITLE, 115, 8, 195, 24
    LTEXT "A ReactOS telepítésének első lépése idő előtt leállt egy hiba miatt, vagy mert megállította azt.\n\nEgy későbbi időpontban újra tudja futtatni a telepítő varázslót hogy telepítse vagy frissítse a ReactOS-t.", IDC_STATIC, 115, 40, 195, 48
    // The following text can be replaced by IDS_ABORT_NO_REBOOT at runtime;
    // please ensure it can hold in the text control!
    LTEXT "A számítógépe automatikusan újraindul 15 másodperc múlva, vagy amikor az Újraindítás gombra kattint.", IDC_FINISHTEXT, 115, 110, 195, 24
    CONTROL "", IDC_RESTART_PROGRESS, "msctls_progress32", PBS_SMOOTH | WS_CHILD | WS_VISIBLE | WS_BORDER, 115, 135, 188, 12
END

/* Strings */

STRINGTABLE
BEGIN
    IDS_CAPTION "ReactOS telepítő"
    IDS_TYPETITLE "Telepítés típusa"
    IDS_TYPESUBTITLE "Telepítheti a ReactOS egy új példányát, vagy frissíthet/helyreállíthat egy meglévőt."
    IDS_UPDATETITLE "ReactOS frissítése vagy helyreállítása"
    IDS_UPDATESUBTITLE "Válassza ki, melyik meglévő ReactOS telepítést kívánja frissíteni vagy helyreállítani."
    IDS_DEVICETITLE "Alapvető eszközök beállítása"
    IDS_DEVICESUBTITLE "A képernyő és a billentyűzet beállítása."
    IDS_DRIVETITLE "A telepítési partíció és rendszermappák helyének kiválasztása"
    IDS_DRIVESUBTITLE "Válassza ki a telepítési partíciót, a rendszer mappák és a rendszerbetöltő helyét."
    IDS_SUMMARYTITLE "Telepítési összefoglaló"
    IDS_SUMMARYSUBTITLE "Felsorolja a telepítési beállításokat az ellenőrzéshez, mielőtt alkalmazná azokat a telepítőeszközön."
    IDS_PROCESSTITLE "Konfigurálja a partíciót, fájlokat másol és beállítja a rendszert"
    IDS_PROCESSSUBTITLE "Létrehozza és formázza a partíciót, felmásolja a fájlokat, telepíti és beállítja a rendszerbetöltőt."
    IDS_ABORTSETUP "A ReactOS nincs teljesen feltelepítve a számítógépére. Ha most kilép a telepítőből, újra kell azt futtatnia és telepítenie a ReactOS-t. Biztosan kilép?"
    IDS_ABORTSETUP2 "Telepítés megszakítása?"
    IDS_NO_TXTSETUP_SIF "Unable to find 'txtsetup.sif'.\nSetup is unable to continue."
    IDS_FINISH_NO_REBOOT "A telepítőnek újra kell indítania a számítógépét hogy folytassa a telepítés második lépésével.\n\nKattintson az Újraindítás gombra a számítógép azonnali újraindításához.\nKattintson az Elhalasztás gombra a telepítőből való kilépéshez és a számítógép későbbi újraindításához."
    IDS_ABORT_NO_REBOOT "Kattintson az Újraindítás gombra a számítógép azonnali újraindításához.\nKattintson a Bezárás gombra a telepítőből való kilépéshez."
    IDS_INSTALLBTN "&Telepítés"
    IDS_RESTARTBTN "Újra&indítás"
    IDS_POSTPONEBTN "&Elhalasztás"
    IDS_VOLUME_NOFORMAT "Nincs formázva"
END

STRINGTABLE
BEGIN
    IDS_INSTALLATION_NAME "Név"
    IDS_INSTALLATION_PATH "Installation Path"
    IDS_INSTALLATION_VENDOR "Vendor Name"
END

STRINGTABLE
BEGIN
    IDS_PARTITION_NAME "Név"
    IDS_PARTITION_TYPE "Típus"
    IDS_PARTITION_SIZE "Méret"
    IDS_PARTITION_STATUS "Állapot"
END

STRINGTABLE
BEGIN
    IDS_BOOTLOADER_NOINST "Ne telepítse"
    IDS_BOOTLOADER_REMOVABLE "Cserélhető adathordozó"
    IDS_BOOTLOADER_SYSTEM "Rendszerpartíció (alapértelmezett)"
    IDS_BOOTLOADER_MBRVBR "MBR és VBR (alapértelmezett)"
    IDS_BOOTLOADER_VBRONLY "Csak VBR"
END

/* Progress Strings */

STRINGTABLE
BEGIN
    IDS_FORMATTING_PROGRESS1 "Formatting volume %c: (%s) in %s..."
    IDS_FORMATTING_PROGRESS2 "Formatting volume %s in %s..."

    IDS_CHECKING_PROGRESS1 "%c: (%s) kötet ellenőrzése..."
    IDS_CHECKING_PROGRESS2 "%s kötet ellenőrzése..."

    IDS_COPYING  "%s másolása"
    IDS_MOVING   "%s mozgatása ide: %s"
    IDS_RENAMING "%s átnevezése erre: %s"
    IDS_DELETING "%s törlése"

    IDS_CONFIG_SYSTEM_PARTITION "Rendszerpartíció beállítása..."
    IDS_PREPARE_PARTITIONS "Partíciók előkészítése..."
    IDS_PREPARE_FILES "Másolandó fájlok listájának létrehozása, kérem várjon..."
    IDS_COPYING_FILES "Fájlok másolása..."

    IDS_CREATE_REGISTRY "Regisztrációs adatbázis létrehozása..."
    IDS_UPDATE_REGISTRY "Regisztrációs adatbázis frissítése..."

    // IDS_INSTALL_FINALIZE "Telepítés befejezése..."
    IDS_INSTALL_BOOTLOADER "Rendszerbetöltő telepítése..."
END

// Note to translators: please refer to the corresponding usetup/lang/*.h translations.
STRINGTABLE
BEGIN
    IDS_REG_DONE "Done"
    IDS_REG_REGHIVEUPDATE "Updating registry hives"
    IDS_REG_IMPORTFILE "%s importálása"
    IDS_REG_DISPLAYSETTINGSUPDATE "Updating display registry settings"
    IDS_REG_LOCALESETTINGSUPDATE "Updating locale settings"
    IDS_REG_ADDKBLAYOUTS "Billentyűzetkiosztások hozzáadása"
    IDS_REG_KEYBOARDSETTINGSUPDATE "Updating keyboard layout settings"
    IDS_REG_CODEPAGEINFOUPDATE "Adding codepage information"
    IDS_REG_UNKNOWN "Unknown status %d"
END

/* Error Strings */

STRINGTABLE
BEGIN
    IDS_ERROR_INVALID_INSTALLDIR_CHAR_TITLE "Érvénytelen karakter"
    IDS_ERROR_INVALID_INSTALLDIR_CHAR "Az érvényes karakterek a következők:\n\
alfanumerikus (a-z, A-Z, 0-9), és\n . \\ - _\n\
A szóközök nem megengedettek."

    IDS_ERROR_DIRECTORY_NAME_TITLE "Érvénytelen telepítési mappa"
    IDS_ERROR_DIRECTORY_NAME "A ReactOS telepítési mappának követnie kell a DOS 8.3 elnevezési konvenciót, \
és csak betűket, számokat, kötőjelet és pontot tartalmazhat. A szóközök nem megengedettek."

    IDS_ERROR_CREATE_PARTITION_TITLE "Partíció létrehozása"
    IDS_ERROR_CREATE_PARTITION "Nem sikerült létrehozni egy új partíciót."

    IDS_WARN_DELETE_PARTITION_TITLE "Törli a partíciót?"
    IDS_WARN_DELETE_PARTITION "Biztosan törölni szeretné a kijelölt partíciót?"
    IDS_WARN_DELETE_MBR_EXTENDED_PARTITION "Biztosan törölni szeretné a kijelölt kiterjesztett partíciót és az ÖSSZES logikai partíciót amit tartalmaz?"

    IDS_ERROR_WRITE_PTABLE "A telepítőnek nem sikerült kiírnia a partíciós táblákat."

    IDS_ERROR_SYSTEM_PARTITION "The ReactOS Setup could not find a supported system partition\n\
on your system or could not create a new one. Without such a partition\n\
the Setup program cannot install ReactOS.\
\nClick on OK to return to the partition selection list."

    IDS_ERROR_FORMAT_UNRECOGNIZED_VOLUME "Unrecognized volume while attempting to format the partition."

    IDS_ERROR_COULD_NOT_FORMAT "Setup is currently unable to format a partition in %s.\n\
\nClick on OK to continue Setup.\
\nClick on CANCEL to quit Setup."

    IDS_ERROR_FORMATTING_PARTITION "Setup is unable to format the partition:\n %s\n"

    IDS_ERROR_COULD_NOT_CHECK "Setup is currently unable to check a partition formatted in %s.\n\
\nClick on OK to continue Setup.\
\nClick on CANCEL to quit Setup."

    IDS_ERROR_CHECKING_PARTITION "ChkDsk detected some disk errors.\n(Status 0x%08lx)."

    IDS_ERROR_WRITE_BOOT "Setup failed to install the %s bootcode on the system partition."
    IDS_ERROR_INSTALL_BOOTCODE "Setup failed to install the %s bootcode on the boot disk."
    IDS_ERROR_INSTALL_BOOTCODE_REMOVABLE "Setup failed to install the bootcode on the removable media."
    IDS_ERROR_BOOTLDR_ARCH_UNSUPPORTED "Setup does not currently support installing the bootloader on the computer you are using.\
\nClick on OK to continue anyway."
    IDS_ERROR_BOOTLDR_FAILED "Setup could not install the bootloader (Status 0x%08lx)."
END
